body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0076B6;
    background-color: #B0B7BC;
}

button{
    background-color: #0076B6;
    font-weight: bolder;
    color: white;
}

#my-popover{
    margin-top: 150px;
}